.titulo{
    color: hotpink;
    background-color: white;
}

#seleccionar-mascota{
    background-color: #d8f700ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 717px;
    
}

.tarjeta-de-mokepon{
    width: 84px;
    height: 42px;
    background: #00c68347;
    padding: 10px;
    box-sizing: border-box;
}

#boton-mascota{
    width: 100px;
    height: 50px;
    background: #915123d1;
    padding: 10px;
    box-sizing: border-box;
}



