<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background-color: #041562;
=======
.titulo{
    color: hotpink;
    background-color: white;
>>>>>>> 27f845a59d0236bec2d33691b18d5138d181e7f8
}

#seleccionar-mascota{
    background-color: #d8f700ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 717px;
    
}

.titulo{
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: flex;
    gap: 10px
}

.tarjeta-de-mokepon{
<<<<<<< HEAD
    width: 180px;
    height: 100px;
    background: #11468F;
=======
    width: 84px;
    height: 42px;
    background: #00c68347;
>>>>>>> 27f845a59d0236bec2d33691b18d5138d181e7f8
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota{
    width: 100px;
    height: 50px;
    background: #915123d1;
    padding: 10px;
    box-sizing: border-box;
}



